.rad-bg {
  background: linear-gradient(rgb(201, 68, 68), yellow);
}
.grey-text {
  color: rgb(97, 97, 97);
}
.footer {
  background-color: rgb(125, 185, 219);
}
.btn-red {
  background-color: red;
  color: white;
}
.drop {
  box-shadow: 5px 5px 18px -2px #888888;
}
.button {
  a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
  }
}
