<div class="p3 titlebar fh2">
  <ul class="li-row">
    <li class="mr3">DynoMightCSS</li>
    <li class="mr3">Document</li>
    <li>Blog</li>
  </ul>
</div>
<div class="pt6 pb3 ttc rad-bg">
  <img src="assets/dm-css-logo.png" alt="logo">
  <div class="fh3">Style with CSS Super Power!</div>
  <div class="mt4">Latest Release 1.0.10</div>
</div>
<div class="mt6 ttc">
  <p class="fh5 mb2">Starting is Easy.</p>
  <p class="grey-text fh2">Quickly add Dyno Might CSS to any Project using a CDN or NPM package.</p>
</div>
<div class="mt5">
  <p class="fh2 ttc mb2">Using NPM</p>
  <code-block [code]="npm" cls="js w30 ttc mxa"></code-block>
  <p class="fh2 ttc mb2 mt5">Using CDN</p>
  <code-block [code]="link" cls="js w70 mxa"></code-block>
  <p class="fh2 ttc mb2 mt5">Starter HTML Document</p>
  <code-block [code]="html" cls="html w70 mxa"></code-block>
</div>
<div class="ttc mt5">
  <div class="radius5 py2 px4 fh2 btn-blue d-inline-block">Read the Document</div>
</div>
<div class="footer py4 ttc mt7">
  <p class="mb1">Copyright (c) 2017, Rajinder Yadav</p>
  <p class="mb0">License GPL-3.0</p>
</div>
