.titlebar {
  background-color:rgb(201, 68, 68);
  color: white;
}
.rad-bg {
  background: linear-gradient(rgb(201, 68, 68), yellow);
}
.grey-text {
  color: rgb(97, 97, 97);
}
.footer {
  background-color: rgb(125, 185, 219);
}
.btn-blue {
  background-color: red;
  color: white;
}
