<div class="pt6 pb3 ttc rad-bg">
  <img src="assets/dm-css-logo.png" alt="logo">
  <div class="fh3">Style with CSS Super Power!</div>
  <div class="mt4">Latest Release 1.0.10</div>
</div>
<div class="mt6 ttc">
  <p class="fh5 mb2">Starting is Easy.</p>
  <p class="grey-text fh2">Quickly add Dyno Might CSS to any Project using a CDN or NPM package.</p>
</div>
<div class="mt6">
  <p class="fh2 ttc mb2">Using NPM</p>
  <div class="d-flex fbjc">
    <div [syntax]="npm" class="js b1 radius3 py3 px4 drop"></div>
  </div>
  <p class="fh2 ttc mb2 mt6">Using CDN</p>
  <div class="d-flex fbjc">
    <div [syntax]="link" class="js b1 radius3 py3 px4 drop"></div>
  </div>
  <p class="fh2 ttc mb2 mt6">Starter HTML Document</p>
  <div class="d-flex fbjc">
    <div [syntax]="html" class="html b1 radius3 py3 px4 drop"></div>
  </div>
</div>
<div class="d-flex fbjc mt7">
  <div class="radius4 py2 px4 fh2 btn-red drop button"><a href="https://www.npmjs.com/package/dm-css">Read the Document</a></div>
</div>
<div class="footer py4 ttc mt7">
  <p class="mb1">Copyright &copy; 2017, Rajinder Yadav</p>
  <p class="mb0">License GPL-3.0</p>
</div>
