.titlebar {
  background-color:rgb(201, 68, 68);
  color: white;
  font-size: 1.25rem;
}
.rad-bg {
  background: linear-gradient(rgb(201, 68, 68), yellow);
}
.grey-text {
  color: gray;
}
.footer {
  background-color: rgb(125, 185, 219);
}
