<section class="relative pb7">

  <header class="pt3 gradient">
    <p class="fh5 fs ttc title">Less is More</p>
    <section class="mt3 centerx">
      <img src="../../../assets/dm-css-logo.png" alt="images">
    </section>
    <p class="fh2 ttc mt3">Style with CSS Super Power!</p>
    <p class="ttc py3">Latest Release 2.3.1</p>
  </header>

  <main>
    <section class="ttc mt6">
      <p class="fh5">Starting is Easy.</p>
      <p class="fh2 mt2">Quickly add Dyno Might CSS to any Project using a CDN or NPM package.</p>
    </section>

    <section class="ttc mt6 fh2">
      Using NPM
      <section>
        <code class="diblock mt3 shell fh-1">npm install --save dm-css</code>
      </section>
    </section>

    <section class="ttc mt6 fh2">
      Using CDN
      <section>
        <pre class="diblock mt3 shell fh-1" [innerText]="cdnLink"></pre>
      </section>
    </section>

    <section class="mt6 fh2 ttc">
      Starter HTML Document
    </section>

    <section class="fh-1 mt3">
      <section class="center">
        <pre class="diblock shell" [innerText]="htmlTemplate"></pre>
      </section>
    </section>

    <section class="center my6">
      <a href="https://www.npmjs.com/package/dm-css" class="pill1 p3 fsb fh1">Read the Document</a>
    </section>
  </main>

  <footer class="ttc mt7 footer fh-2 posb">
    <p>
      Copyright © 2017, 2023 Rajinder Yadav
    </p>
    <p>
      License GPL-3.0
    </p>
  </footer>
</section>
